{% extends 'base.html' %}
{% block main_content %}
<div class="flex-column ai-center size-100p">
    <h2>Questions</h2>
    <div id="grid-items-container" class="grid-items-container"></div>
</div>
{% endblock main_content%}
{% block scripts_block %}
<script>
    const _CURRENT_QUESTION_INDEX = "{{current_user.id|upper}}_{{current_user.id_exam_logged_in}}_CURRENT_INDEX";
    const _questionsUrl = "{{url_for('questions')}}";

    // the [questions] variable received from the server is a json string so it has to be parsed to a json object
    // flask reads quotes ("") as html entities i.e &#34; so the '|tojson' filter is used to change them to actual quotes
    // for some reason the terminating braces of the json string are preceeded with quotes
    // if it isn't removed the js engine throws a SyntaxError
    const _questions = JSON.parse('{{questions|tojson}}'.replace(/"{/g, '{').replace(/}"/g, '}'));

    document.getElementById('grid-items-container').innerHTML = _questions.map((question, index) => `
<a class="td-none" href="${_questionsUrl}">
    <div class="grid-item" onclick="onGridItemClick(${index})">
        <span class="h3 fnt-wt-b">${index+1}</span>
        ${question.selected_option_id ? '' : '<span class="unanswered-indicator"></span>'}
    </div>
</a>
    `).join('');


    function onGridItemClick(index) {
        localStorage.setItem(_CURRENT_QUESTION_INDEX, index);
    }

</script>
{% endblock scripts_block %}